---
import FooterLink from '@/components/FooterLink.astro'
import { TinaMarkdown } from "tinacms/dist/rich-text";
import client from "@tina/__generated__/client";

interface Props {
  classes: string
}
const { classes } = Astro.props as Props;

const content = await client.queries.myFooter({ relativePath: "index.json" });
const footer = content.data.footer;
---

<div class={`bg-sc-brown text-sc-white pt-12 pb-16 px-8 ${classes ? classes : ''}`} >
  <div class="max-w-5xl mx-auto flex" >
    <div>
      <p class="text-3xl">{footer.name}</p>
      <div class="mt-5">
        <div className="prose">
          <TinaMarkdown content={footer.address} />
        </div>
      </div>
      <div class="mt-3 border-t border-gray-400 w-fit">
        <a class="mt-3 block" href="mailto:elyachar@princeton.edu">
          {footer.email}
        </a>
      </div>
    </div>
    <ul class="hidden md:flex text-lg ml-auto mt-3 flex justify-around gap-x-8 h-fit">
      {footer.footerLinks.map((footerLink) => (
      <li key={footerLink.text}><FooterLink href={footerLink.href}>{footerLink.text}</FooterLink></li>
      ))}
    </ul>
  </div>
</div>


