---
import NavLink from '@/components/NavLink.astro'
import Bars3Icon from 'astro-heroicons/outline/Bars3.astro';
import XMarkIcon from 'astro-heroicons/outline/XMark.astro';
import client from "@tina/__generated__/client";

interface Props {
  classes: string
}
const { classes } = Astro.props as Props;

const content = await client.queries.myNav({ relativePath: "index.json" });
const nav = content.data.nav;
---

<script>
const menu = document.getElementById("mobile-menu-el-menu");
const bars = document.getElementById("mobile-menu-bars-icon");
const xmark = document.getElementById("mobile-menu-x-icon");

// Watch for changes
const observer = new MutationObserver(mutations => {
  for (const m of mutations) {
    if (m.type === "attributes" && m.attributeName === "open") {
      const open = menu.hasAttribute("open");
      bars.classList.toggle("hidden", open);
      xmark.classList.toggle("hidden", !open);
    }
  }
});
observer.observe(menu, { attributes: true });
</script>

<nav class={`sticky relative top-0 bg-white border-b z-20 py-5 px-6 ${classes ? classes : ''}`} >

  <div class="max-w-5xl mx-auto">

    <div class="flex items-center">

      <NavLink classes="text-xl font-medium" href="/">Julia Elyachar</NavLink>

      <!-- Desktop -->
      <ul class="hidden sm:flex ml-auto flex gap-x-8">
        {nav.navLinks.map((navLink) => (
        <li key={navLink.text}><NavLink href={navLink.href}>{navLink.text}</NavLink></li>
        ))}
      </ul>

      <!-- Mobile menu -->
      <el-dropdown class="inline-block sm:hidden ml-auto">
        <button class="inline-flex items-center justify-center gap-x-1.5 rounded-md bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 dark:bg-white/10 dark:text-white dark:shadow-none dark:ring-white/5 dark:hover:bg-white/20">
          <Bars3Icon id="mobile-menu-bars-icon" class="text-gray-600 h-[1.75rem] w-[1.75rem] xs:h-[2rem] xs:w-[2rem]" />
          <XMarkIcon id="mobile-menu-x-icon" class="hidden text-gray-600 h-[1.75rem] w-[1.75rem] xs:h-[2rem] xs:w-[2rem]" />
        </button>

        <el-menu id="mobile-menu-el-menu" anchor="bottom end" popover class="m-0 origin-top-right rounded-md bg-white p-0 shadow-lg outline outline-1 outline-black/5 transition [--anchor-gap:theme(spacing.2)] [transition-behavior:allow-discrete] data-[closed]:scale-95 data-[closed]:transform data-[closed]:opacity-0 data-[enter]:duration-100 data-[leave]:duration-75 data-[enter]:ease-out data-[leave]:ease-in dark:bg-gray-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10 w-fit min-w-[160px]">
          <ul class="flex flex-col px-8 pt-6 pb-8 text-left mx-auto gap-y-4">
            {nav.navLinks.map((navLink) => (
            <li key={navLink.text} class="border-b border-gray-200"><NavLink href={navLink.href}>{navLink.text}</NavLink></li>
            ))}
          </ul>
        </el-menu>
      </el-dropdown>

    </div>

  </div>

</nav>
